.button-close {
  background-image: url(../../images/button_close.png);
  width: 32px;
  height: 32px;
  border: 0;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity ease-in 0.3s;
  background-position: center;
  background-size: contain;
}

.button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .button-close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
